%nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
  %a.navbar-brand{:href => "/"} 
    = image_tag 'macrobat.svg', style: 'max-width: 40px'
    Macrobat
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item{class: current_page?(meals_path) && 'active'}
        %a.nav-link{:href => "/meals"} Meal
      %li.nav-item{class: current_page?(glucoses_path) && 'active'}
        %a.nav-link{:href => "/glucoses"} Glucose     
      %li.nav-item
        /class: current_page?(meals_path) && 'active'}
        %a.nav-link{:href => "/pressures"} Pressure                
      %li.nav-item
        %a.nav-link{:href => "/users"} User

